<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Bem vindo ao Sistema de Assinatura Digital {{ user.username }}!</h1>
    <br />
    {% if user.public_key %}
    <a href="{% url 'show_my_keys' %}">Mostrar minhas chaves</a>
    <br />
    {% else %}
    <h2>Você ainda não possui uma chave pública</h2>
    <a href="{% url 'generate_keys' %}">Criar chave</a>
    <br />
    {% endif %}
    <a href="{% url 'logout' %}">Sair</a>
    {% else %}
    <h1>Bem vindo ao Sistema de Assinatura Digital!</h1>
    <br />
    <a href="{% url 'login' %}">Faça login</a>
    {% endif %}
  </body>
</html>
